####################################################
# General Settings
####################################################
PORT=8000

####################################################
# LLM API Keys
####################################################
OPENAI_API_KEY=xxx

####################################################
# Storage
####################################################
# For develop features related to synchronization,
# you should register an app on Dropbox:
# https://www.dropbox.com/developers/apps/create
# DROPBOX_CLIENT_ID=xxx
# DROPBOX_CLIENT_SECRET=xxx

####################################################
# LangChain
####################################################
LANGSMITH_TRACING=true
LANGCHAIN_API_KEY=xxx
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=bookwith

####################################################
# Supabase
####################################################
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# API_URL=http://127.0.0.1:54321
# GRAPHQL_URL=http://127.0.0.1:54321/graphql/v1
# S3_STORAGE_URL=http://127.0.0.1:54321/storage/v1/s3
# STUDIO_URL=http://127.0.0.1:54323
# INBUCKET_URL=http://127.0.0.1:54324
# JWT_SECRET=xxx
# ANON_KEY=xxx
# SERVICE_ROLE_KEY=xxx
# S3_ACCESS_KEY=xxx
# S3_SECRET_KEY=xxx
# S3_REGION=local

####################################################
# Googl Cloud
####################################################
CLOUD_STORAGE_EMULATOR_HOST=http://127.0.0.1:4443

####################################################
# Memory
####################################################
MEMORY_BUFFER_SIZE=10
MEMORY_SUMMARIZE_THRESHOLD=50
MEMORY_CHAT_RESULTS=3
MEMORY_PROFILE_RESULTS=2
